<!doctype html>
<html dir="ltr" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Nova guia</title>
    <style>
      div {
        border: 2px solid gold;
        border-radius: 8px;
        padding: 8px;
        margin: 0 auto;
        background: steelblue;
        display: block;
        width: 400px;
        height: 300px;
        text-align:left; 
        font-family:arial;
        color:antiquewhite;
      }
    </style>
  </head>
  <body>
    <h1>Rota raiz de perfil!</h1>
    <div>
        <p>
            Olá!<br/>
            Meu nome é <%= profileName %> e tenho <%= age %> anos.<br/>
            É um prazer conhece-lo.
        </p>
    </div>
  </body>
</html>
